@page
@model MyFirstMySql.Pages.Admin.SessionYear.AddSessionModel
@{
    ViewData["Title"] = "Add Class";
}
<br />
<form method="post">
    <div class="container-fluid">
        <h3 class="text-center h3">Add Session/Year</h3>
        <br />
        <div class="row">
            <div class="col-md-8 offset-md-2">

                <div class="row">
                    <label asp-for="session.Name" class="col-md-4 h5 text-dark">Class Name</label>
                    <div class="col-md-8">
                        <input asp-for="session.Name" class="form-control" />
                        <span asp-validation-for="  session.Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="row d-flex justify-content-between">
                    <div class="col-md-4 m-3">
                        <button type="submit" class="btn btn-success form-control">Add Session</button>
                    </div>
                    <div class="col-md-4 m-3">
                        <a asp-page="Index" class="btn btn-info form-control">Back to Session List</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
