@page
@model MyFirstMySql.Pages.Account.AccessDeniedModel
@{
    ViewData["Title"] = "Access Denied";
}
<div class="text-center text-danger">
    <div class="h1">Ooop! Access Denied</div>
    <div class="h4"> You do not have persmission to view this resource</div>

</div>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <img src="~/assets/images/Logo/Accessdenied.jpg" class="img-thumbnail" style="width:300; height:300" asp-append-version />
    </div>
    <div class="col-md-4"></div>
</div>
