@page
@model MyFirstMySql.Pages.Account.ChangePasswordModel
@{
    ViewData["Title"] = "Change Password";
}
<div class="col-lg-6 mt-3">
    <div class="card">
        <div class="card-body">
            <h4 class="mt-0 header-title text-center h3">Change Password</h4>
            <div class="general-label mt-2">
                <form method="post">
                    <div class="form-group row">
                        <label for="horizontalInput2" class="col-sm-5 col-form-label">Old Password</label>
                        <div class="col-sm-7">
                            <input asp-for="model.OldPassword" class="form-control" placeholder="Old Password">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="horizontalInput2" class="col-sm-5 col-form-label">New Password</label>
                        <div class="col-sm-7">
                            <input asp-for="model.NewPassword" class="form-control" placeholder="New Password">
                        </div>
                    </div>
                    <div class="form-group row mb-2">
                        <label for="horizontalInput2" class="col-sm-5 col-form-label">Confirm New Password</label>
                        <div class="col-sm-7">
                            <input asp-for="model.ConfirmNewPassword" class="form-control" placeholder="Confirm New Password">
                        </div>
                    </div>
                    @if (TempData["success"] != null)
                    {
                        <div class="alert alert-success mb-2">@TempData["success"]</div>
                    }
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="row">
                        <div class="col-4 offset-4 d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary form-control">Change</button>
                        </div>
                    </div>
                </form>
            </div>
        </div><!--end card-body-->
    </div><!--end card-->
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    }
